# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# nem kell követni a credentialokat
src/main/resources/credentials.json 
tokens
logs
bin
gradle

